# Folders
/vendor
/node_modules
/bower_components

# Files
.env
.DS_Store

# Compiled Assets
/public/assets/css/*.css
/public/assets/js/*.js

# Fonts
/public/assets/fonts/FontAwesome.*
/public/assets/fonts/fontawesome-webfont.*
